.card-ui {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
    height: 350px;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    position: relative;
  }
  
  .media > img {
    background-position: center;
    background-size: cover;
    height: 350px;
    /* overflow: visible; */
    /* position: relative; */
  }
  
  .card-body {
    color: grey;
    width: 100%;
    padding: 20px 20px 50px;
    overflow: scroll;
  }
  
  .divider {
    background: grey;
    height: 2px;
    margin: 25px auto;
    width: 40px;
  }
  
  .card-body .card-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  .card-body .recipe-btn {
    position: absolute;
    right: 45px;
    bottom: 15px;
  }