.recipe-card {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
    height: auto;
    margin: 20px auto;
    max-width: 600px;
  }

.recipe-body {
    color: #01081d;
    padding: 15px 20px 30px;
}

.ingredients-list {
  display: flex;
}

.recipe-ingredient {
  list-style: none;
  margin-left: 10px;
}

strong {
  font-size: 18.72px;
  margin-right: 8px;
}