body {
  background-color: #f4f4f4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

h1 {
  text-align: center;
}

h2 {
  color: #252830;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

li {
  margin: 3px;
}

button {
  background-color: darkgrey; 
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 1px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
}

button:focus{ outline: 0;}

button:hover{
  background-color: grey;
  color: black;
}