body {
  background-color: #f4f4f4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-align: center;
}

h2 {
  color: #252830;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

li {
  margin: 3px;
}